html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
    box-sizing: border-box;
}

#top-container {
    background: #F5F8FB;
    height: 80vh;
}

#main-img {
    margin: auto;
    align-item: center;
}

.infobox {
    margin: auto;
}

.column-img {
    margin: auto;
    text-align: center;
}

#summary-section {
    padding: 3em;
}

.form {
    padding-right: 10vw;
    padding-left: 10vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.theme {
    background-color: #F5F8FB
}

footer {
    background-color: #f1f1f1;
    position: relative;
}

#brand-span {
    position: absolute;
    bottom: 2em;
}

.navbar {
    background-color: #F5F8FB !important
}

.navbar-item {
    margin-right: 3em;
}

.feature-link {
    align-content: right;
}

.img-features {
    margin-right: 1em;
}

.feature {
    align-items: center;
}

#feature-title {
    font-size: 1rem;
}
